body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1730px;
  height:1200px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1730px;
  height:1200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:260px;
  top:10px;
  width:750px;
  height:750px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:750px;
}
#u2 {
  position:absolute;
  left:2px;
  top:367px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:522px;
  top:210px;
  width:225px;
  height:83px;
  font-size:72px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:83px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:470px;
  top:330px;
  width:214px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6 {
  position:absolute;
  left:700px;
  top:328px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1200px;
  top:20px;
  width:37px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#00CCFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:584px;
  top:400px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1730px;
  height:1200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:21px;
  top:19px;
  width:68px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1200px;
  top:20px;
  width:37px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#00CCFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1117px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#00CCFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:110px;
  top:18px;
  width:101px;
  height:24px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:220px;
  top:16px;
  width:852px;
  height:742px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:742px;
}
#u21 {
  position:absolute;
  left:2px;
  top:363px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:400px;
  top:230px;
  width:180px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:570px;
  top:650px;
  width:230px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1730px;
  height:1200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:-1120px;
  top:-1780px;
  width:5750px;
  height:5750px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5750px;
  height:5750px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2867px;
  width:5746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:21px;
  top:19px;
  width:68px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1200px;
  top:20px;
  width:37px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#00CCFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1117px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
  color:#00CCFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:110px;
  top:18px;
  width:101px;
  height:24px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:200px;
  top:410px;
  width:140px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:400px;
  top:320px;
  width:140px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:560px;
  top:190px;
  width:140px;
  height:100px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:400px;
  top:480px;
  width:140px;
  height:100px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:600px;
  top:380px;
  width:140px;
  height:100px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1060px;
  top:440px;
  width:140px;
  height:100px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u45 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:650px;
  top:590px;
  width:290px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:200px;
  top:510px;
  width:140px;
  height:30px;
  opacity:0.800000011920929;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:410px;
  width:140px;
  height:130px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u50 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:400px;
  top:580px;
  width:140px;
  height:30px;
  opacity:0.800000011920929;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:400px;
  top:480px;
  width:140px;
  height:130px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u54 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:560px;
  top:290px;
  width:140px;
  height:30px;
  opacity:0.800000011920929;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:560px;
  top:190px;
  width:140px;
  height:130px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u58 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1060px;
  top:540px;
  width:140px;
  height:30px;
  opacity:0.800000011920929;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1060px;
  top:440px;
  width:140px;
  height:130px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u62 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:400px;
  top:420px;
  width:140px;
  height:30px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:400px;
  top:320px;
  width:140px;
  height:130px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u66 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:600px;
  top:480px;
  width:140px;
  height:30px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:600px;
  top:380px;
  width:140px;
  height:130px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u70 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1060px;
  top:440px;
  width:140px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
