body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:41px;
  width:900px;
  height:240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:240px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
