.container-fluid{
	margin: 0px;
	border-radius: 0px;
	padding: 0px;
}

.header{
	margin: 0px;
	border-radius: 0px;
	padding: 0px;
	border-width: 0px;
}

.logo-mini{
	height: 30px;
	width: 30px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
}
.logo-mini2{
	height: 30px;
	width: 30px;
	display: inline-block；
	cursor: pointer;
}
#prminpic{
	padding: 10px;
}
.glyphicon{
	font-size: 20px;
}

#beProjna{
}
#login{
}

#projnaName{
	display: none;
}

.cover{
	border-radius: 0px;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	background-position-x: 100%;
	background-position-y: 50%;
	background-size: cover;
	text-shadow:2px 2px 0px black;
	min-width: 200px;
	padding-bottom: 30px;
}

/*in-covers_________________________________________________________*/
	#brand{
		color:#F5F5F5;
		font-size:60px;
		line-height:100px;
		font-weight:bold;
	}
	#slogan1{
		color:#F5F5F5;
		font-size:28px;
		line-height:20px;
		font-weight:bold;
	}
	#slogan2{
		color:#F5F5F5;
		font-size:28px;
		line-height:40px;
		font-weight:bold;
		font-style:italic;
	}
	#learnmore{
		color:#F5F5F5;
		font-size:15px;
		line-height:40px;
		text-decoration:none;
	}
	#joinnow{
	}
/*_____________________________________________________________________*/



.footer{
	padding-left: 100px;
	/*padding-right: 100px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #232D32;
	vertical-align: bottom;
	text-align: left;
	vertical-align: center;
	color: #FFFFFF;
	text-decoration: none;
}
.footer a{
	color: #A7B3B7;
}

.regform input{
	margin: 10px;
	padding: 5px;
}

.regform button{
	margin: 10px;
	margin-bottom: 20px;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
}


/*_____________________________________________________________________*/


.psImg{
	height: 100px;
	width: 80px;
}
.psName{
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 0px;
}

.pjBuild{
	background-color: #123456;
	color: white;
}

.iB{
  display:block;
  background:#123456;
  border-radius:50%;
  width:16px;
  height:16px;
  top:74%;
  right:10%;
  position:absolute;
  font-size: 3px;
  color: white;
}









